<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos :: head('Novo curso')}"></head>

<body>
<header th:replace="~{fragmentos :: header('Curso #' + ${curso.codigo})}"></header>

<main>
  <div class="container mt-4">
    <div class="row">
      <div class="col-12">
        <b>Nome:</b> <span th:text="${curso.nome}"></span><br>
        <b>Descrição:</b> <span th:text="${curso.descricao}"></span><br>
        <b>Tipo:</b> <span th:text="${curso.tipoCurso.toString()}"></span><br>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <a th:href="@{/cursos/{cursoCodigo}/edit(cursoCodigo = ${curso.codigo})}">Editar</a> <a href="/cursos">Voltar</a>
      </div>
    </div>
  </div>
</main>
</body>
</html>